@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --font-red-hat: "Red Hat Display", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-red-hat);
    background-color: var(--pale-blue);
    background-image: url(./images/pattern-background-desktop.svg
    );
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  height: auto;
  padding: 20px;
  transition: all 0.7s ease-in;
}

.card{
  background-color: white;
  border-radius: 15px ;
  overflow: hidden;
  text-align: center;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.1) ;
  
}

.img-section{
  width: 100%;
  max-width: 420px;
}

.img-section img{
    width: 100%;
    height: auto;
}

.contents{
  padding: 20px;
  margin: 15px 0;
}

.contents h2{
  font-weight: bold;
  font-style: normal;
  color: var(--dark-blue);
}

.contents p{
  color: var(--desaturated-blue);
  font-size: 16px;
  font-weight: 450;
  margin:20px 10px;
  line-height: 1.5;
  padding: 0 15px;
}

.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
    margin: 20px 10px;
    border-radius: 15px;
    padding:0 15px;
}

.order-details{
  display: flex;
  align-items: center;
}


.order-details img{
  width: 40px ;
  height: 40px;
  margin-right: 10px;
}


.order-details .title{
  color: var(--dark-blue);
  margin: 20px 5px 0  ;
  font-size: 18px;
  font-weight:bold;
}

.order-details .price{
  color: var(--desaturated-blue);
  margin-top: 0;
  margin-bottom: 20px;
}

.price-change{
  margin-left: 40px;
  font-weight: 700;
  color: var(--bright-blue);

}
.price-change:hover{
  text-decoration: none;
  color: #766CF1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.payment-button{
  width: 95%;
  background-color: var(--bright-blue);
  color: white;
  font-family: var(--font-red-hat);
  text-decoration: none;
  padding: 14px;
  border: 1px solid transparent;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 740;
}

.payment-button:hover{
  background-color: #766CF1;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}
.cancel {
  margin-top: 15px;
  font-family: var(--font-red-hat);
  background-color: transparent;
  color: var(--desaturated-blue);
  border: none;
  font-size: 16px;
  font-weight: 740;
  cursor: pointer;
}

.cancel:hover{
  color: var(--dark-blue);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
